@import "../../../../assets/scss/variables.scss";

.jobs_listing_page {
  max-width: 1602px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0 auto;
  .jobInnerSection {
    .titleText {
      width: 100%;
      padding-top: 24px;
      padding-left: 12px;
      padding-right: 12px;
    }
    .searchFilter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-right: 12px;
      padding-left: 12px;
      padding-bottom: 25px;
      .searchSection {
        display: flex;
        .searchboxMain {
          width: 623px;
        }
        .filterBtn {
          position: relative;
          .filterIcon {
            position: relative;
            margin-left: 15px;
            background: $BG_WHITE;
            width: 40px;
            height: 40px;
            border-radius: 8px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            -moz-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            &:focus {
              outline: none;
            }
            i {
              color: $TXT_BLUE_GREY;
            }
            .dot_filter {
              width: 5px;
              height: 5px;
              background-color: $TXT_BLUE;
              border-radius: 50%;
              top: 5px;
              right: 3px;
              position: absolute;
            }
          }
        }
        .sortingIcon {
          color: $TXT_BLUE;
          padding: 14px 18px;
          position: relative;
          position: relative;
          margin-left: 15px;
          background: #ffffff;
          width: 40px;
          height: 40px;
          border-radius: 8px;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
            0px 0.5px 2px rgba(96, 97, 112, 0.16);
          display: none;
          .FilterSorting {
            display: flex;
            .filterItem {
              padding: 0;
              .headingUl {
                display: flex;
                flex-direction: column;
                padding: 0;
                list-style: none;
                margin: 0;
                .headingItem {
                  display: flex !important;
                  font-size: 14px !important;
                  color: $TXT_BLUE;
                  padding: 10px;
                  cursor: pointer;
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
      .createJob {
        .custombtn {
          width: 202px;
          background-color: $BG_LIGHTWHITE;
          border: 1px solid $TXT_BLUE !important;
          color: $TXT_BLUE;
          font-size: $FONT_14 !important;
          &:nth-child(2) {
            margin-left: 8px;
            background: transparent;
          }
        }
      }
    }
    .table_list_Main {
      width: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      margin: 0px;
      justify-content: space-between;

      .table-row-inline {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: left;

        &.cursurpointer {
          cursor: pointer;
        }

        .Table-row-item {
          flex: 1;
          i {
            color: $TXT_YELLOW;
            font-size: $FONT_18;
            &.cancel {
              color: $TXT_RED !important;
          }
          }
          .statusMain {
            padding: 6px 14px;
          }
        }
      }

      .Table-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 12px 10px 12px;
        border-radius: 8px;
        -webkit-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
          0px 0.5px 2px rgba(96, 97, 112, 0.16);
        -moz-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
          0px 0.5px 2px rgba(96, 97, 112, 0.16);
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
          0px 0.5px 2px rgba(96, 97, 112, 0.16);
        &:first-child {
          margin-top: 3px;
        }
        &:hover {
          -webkit-box-shadow: 0px 3px 8px rgba(84, 95, 122, 0.12);
          -moz-box-shadow: 0px 3px 8px rgba(84, 95, 122, 0.12);
          box-shadow: 0px 3px 8px rgba(84, 95, 122, 0.12);
          background: $BG_WHITE;
        }
        &.Table-header {
          background-color: $BG_BLUE;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-top: 1px solid #e0e0e0;
          border-bottom: none;
          display: flex;
          flex-wrap: wrap;
          .table-row-inline {
            padding-bottom: 0px;
          }
          .Table-row-item {
            color: $TXT_WHITE;
            font-size: $FONT_14;
            padding: 18px 20px;
            margin-bottom: 0px;
            font-family: $SOURCE_SANS_PRO_SEMIBOLD;
            .icon-sort {
              background-color: transparent;
              border: none;
              color: $TXT_WHITE;
              font-size: $FONT_12;
              margin-left: 4px;
              padding: 0px;
            }
            &:nth-child(1){
              flex: 2.8;
            }
            &:nth-child(6){
              flex: 2.5;
            }
            &:nth-child(7){
              flex: 0.5;
              justify-content: center;
            }
          }
        }
      }

      .Table-row-item {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        font-size: $FONT_14;
        color: $TXT_WINE;
        font-family: $SOURCE_SANS_PRO_REGULAR;
        &:first-child {
          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
          color: $TXT_DARKGREY;
        }
      }
      .list_data{
        .table-row-inline{
          .Table-row-item{
            &:nth-child(1){
              flex: 2.8;
            }
            &:nth-child(6){
              flex: 2.5;
            }
            &:nth-child(7){
              flex: 0.5;
              justify-content: center;
            }
          }
        } 
      }
    }
  }
}
.deleteModal {
  .modal-dialog {
    max-width: 323px;
    .modal-content {
      .modalInner {
        .modal-body {
          .messageSection {
            padding: 34px;
            .customBtn {
              button {
                &.custombtn {
                  padding: 11px 12px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
.jobs_listing_page{
    .jobInnerSection{
      .searchFilter{
        .searchSection{
          .searchboxMain {
            width: 420px;
          }
        }
      }
      .table_list_Main{
        .Table-row{
          &.Table-header{
            .table-row-inline{
              &::before{
                padding: 10px 20px;
                position: relative;
                content: 'Job Details';
                font-size: $FONT_14;
                color: $TXT_WHITE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
              .Table-row-item{
                display: none;
              }
            }
          }
        }
        .table-row-inline{
          .Table-row-item{
            width: 25%;
            flex: inherit !important;
            flex-wrap: wrap;
            text-align: left;
            align-items: flex-start;
            display: block;
            .statusMain {
              margin-top: 5px;
            }
            i {
              margin-top: 4px;
              float: left;
            }
            &:first-child{
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(2){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Created by";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(3){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job For";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(4){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Amount";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(5){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Admin Fees";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(6){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Status";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(7){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Activity";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(8){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
          }
        } 
      }  
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .jobs_listing_page{
    .jobInnerSection{
      .searchFilter{
        .searchSection{
          .searchboxMain {
            width: 420px;
          }
        }
      }
      .table_list_Main{
        .Table-row{
          &.Table-header{
            .table-row-inline{
              &::before{
                padding: 10px 20px;
                position: relative;
                content: 'Job Details';
                font-size: $FONT_14;
                color: $TXT_WHITE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
              .Table-row-item{
                display: none;
              }
            }
          }
        }
        .table-row-inline{
          .Table-row-item{
            width: 25%;
            flex: inherit !important;
            flex-wrap: wrap;
            text-align: left;
            display: block;
            .statusMain {
              margin-top: 5px;
            }
            i {
              margin-top: 4px;
              float: left;
            }
            &:first-child{
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(2){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Created by";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(3){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job For";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(4){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Amount";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(5){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Admin Fees";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(6){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Status";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(7){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Activity";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(8){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
          }
        } 
      }  
    }
  }    
}

@media (min-width: 576px) and (max-width: 767px) {
  .jobs_listing_page{
    .jobInnerSection{
      .searchFilter{
        .searchSection{
          .searchboxMain {
            width: 280px;
          }
        }
      }
      .table_list_Main{
        .Table-row{
          &.Table-header{
            .table-row-inline{
              &::before{
                padding: 10px 20px;
                position: relative;
                content: 'Job Details';
                font-size: $FONT_14;
                color: $TXT_WHITE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
              .Table-row-item{
                display: none;
              }
            }
          }
        }
        .table-row-inline{
          .Table-row-item{
            width: 25%;
            flex: inherit !important;
            flex-wrap: wrap;
            text-align: left;
            display: block;
            .statusMain {
              margin-top: 5px;
            }
            i {
              margin-top: 4px;
              float: left;
            }
            &:first-child{
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(2){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Created by";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(3){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job For";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(4){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Amount";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(5){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Admin Fees";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(6){
              width: 30%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Status";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(7){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Activity";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
            &:nth-child(8){
              width: 20%;
              &::before {
                width: 100%;
                float: left;
                content: "Job Title";
                position: relative;
                top:0px;
                font-size: $FONT_14;
                color: $TXT_BLUE;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              }
            }
          }
        } 
      }  
    }
  }
}

