// Background Color
$BG_LIGHTWHITE: #f9f9fb;
$BG_WHITE: #ffffff;
$BG_LIGHTGRAY: #f2f2f2;
$BG_BLUE: #14677A;
$BGINPUTDISABLED: #f5f5f5;
$BGDIISABLED: #f6f6f8;
$BG_GREYGREEN:#2D5F5D;
$BG_YELLOW: #ffab00;
$BG_RED:#EE2737;
$BG_BLUE_LIGHT:#EAEEF3;
$BG_GREY_LIGHT:#EDEFF1;
$BG_GREEN:#14677A;

// Color
$TXT_BLUE: #14677A;
$TXT_GREEN: #2d5f5d;
$TXT_WINE: #00232C;
$TXT_DARKGREEN: #1e4258;
$TXT_LIGHTGRAY: #d9d9d9;
$TXT_DISABLEDGRAY: #bbbbbb;
$TXT_WHITE: #ffffff;
$TXT_RED: #ee2737;
$TXT_BLACK: #000;
$TXT_DARKGREY: #2c2e3f;
$TXT_YELLOW: #ffab00;
$TXT_BLUE_GREY:#64797D;
$TXT_GRAY:#AEAEAE;


// Border Color
$INPUTBORDER: #cfdbe6;
$BORDER: #c4c4c4;
$INPUTREDBORDER: #ee2737;
$CHECKBOXBORDER: #707070;
$BUTTONBORDERCOLOR: #b8b8b8;
$BORDERCOLOR:#F2F2F2;

// Font Size
$FONT_10: 10px;
$FONT_12: 12px;
$FONT_13: 13px;
$FONT_14: 14px;
$FONT_16: 16px;
$FONT_18: 18px;
$FONT_20: 20px;
$FONT_22: 22px;
$FONT_24: 24px;
$FONT_26: 26px;
$FONT_28: 28px;
$FONT_30: 30px;
$FONT_32: 32px;
$FONT_48: 48px;

// Font Family
$SOURCE_SANS_PRO_REGULAR: "source_sans_proregular";
$SOURCE_SANS_PRO_SEMIBOLD: "source_sans_prosemibold";
$ROBOTO_REGULAR: "robotoregular";
$ROBOTO_MEDIUM: "robotomedium";


