@import "../../../../assets/scss/variables.scss";

.UBODeclarationModal {
    float: left;
    width: 100%;

    .informationDetailTitle {
        font-size: $FONT_16;
        line-height: 24px;
        color: $TXT_BLUE;
        padding: 0 0 16px;
        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
        padding: 0px 24px 16px;
    }

    .popupScroll {
        height: 560px !important;
    }

    .boxContain {
        width: 100%;
        float: left;
        padding: 0 0px;

        .form {
            width: 100%;
            float: left;
            position: relative;

            .leftPart {
                width: 100%;
                float: left;
                padding-right: 0px;
                position: relative;

                .innerPadding {
                    margin: 0 24px;
                    position: relative;
                }

                .calenderMain {
                    width: 100%;
                    margin-bottom: 16px;
                    position: relative;

                    .react-datepicker-popper {
                        padding-right: 0px;
                        z-index: 1111;
                        position: absolute;
                        top: 0 !important;
                    }

                    .react-datepicker-wrapper {
                        display: block;

                        input {
                            background: $BG_WHITE;
                            font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                            color: $TXT_WINE;
                            font-size: $FONT_16;
                            padding: 11px 12px;
                            height: auto;
                            outline: 0px;
                            width: 100%;
                            border-radius: 5px;
                            border: 1px solid $INPUTBORDER;
                            outline: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;

                            &::-webkit-input-placeholder {
                                color: $TXT_LIGHTGRAY;
                            }

                            &::-moz-placeholder {
                                color: $TXT_LIGHTGRAY;
                            }

                            &:-ms-input-placeholder {
                                color: $TXT_LIGHTGRAY;
                            }

                            &:-moz-placeholder {
                                color: $TXT_LIGHTGRAY;
                            }

                            &:focus {
                                outline: 0;
                                box-shadow: none;
                                border-color: $INPUTBORDER;
                            }

                            &.error {
                                border-color: $INPUTREDBORDER;
                            }
                        }
                    }
                }

                .dropdownSection {
                    margin-bottom: 16px;

                    &.firstDropDown {
                        .customDropdown {
                            .dropdown {
                                .dropdown-menu {
                                    top: -2px !important;
                                }
                            }
                        }
                    }

                    .customDropdown {
                        .dropdown {
                            &.selected {
                                .btn-primary {
                                    color: $TXT_WINE !important;

                                    &::after {
                                        color: $TXT_BLUE;
                                    }
                                }
                            }

                            .btn-primary {
                                padding: 11px 16px !important;
                                border-radius: 5px !important;
                                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                                font-size: $FONT_16 !important;

                                &::after {
                                    margin: 0 !important;
                                    font-size: $FONT_12;
                                    color: $TXT_LIGHTGRAY;
                                    top: 15px !important;
                                }
                            }

                            .dropdown-menu {
                                overflow: hidden;
                                border: 0 !important;
                                -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
                                -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
                                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
                                border-radius: 5px;
                                top: inherit !important;

                                .dropdownData {
                                    .dropdown-item {
                                        font-family: $SOURCE_SANS_PRO_REGULAR;
                                        font-size: $FONT_16;
                                        color: $TXT_WINE;
                                        padding: 9px 16px !important;

                                        &:hover {
                                            background-color: $BG_BLUE;
                                            color: $TXT_WHITE;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .country_Selection {
                    position: relative;

                    &.filled {
                        input {
                            padding: 11px 24px 11px 16px;
                        }
                    }

                    .flaimg {
                        position: absolute;
                        left: 15px;
                        top: 16px;
                        margin: 0;
                        display: none;
                    }

                    .flaimg~div {
                        position: relative;

                        &::before {
                            position: absolute;
                            right: 14px;
                            top: 24px;
                            content: "";
                            width: 0;
                            height: 0;
                        }

                        &::before {
                            border-top: 5px solid #4d4d4d;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            border-bottom: 0;
                        }
                    }

                    input {
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 11px 24px 11px 16px;
                        font-size: $FONT_16;
                        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        color: $TXT_WINE;
                        border: 1px solid $INPUTBORDER;
                        border-radius: 4px;
                        background: transparent;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        -o-appearance: none;

                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }

                        &::-webkit-input-placeholder {
                            color: $TXT_LIGHTGRAY;
                        }

                        &::-moz-placeholder {
                            color: $TXT_LIGHTGRAY;
                        }

                        &:-ms-input-placeholder {
                            color: $TXT_LIGHTGRAY;
                        }

                        &:-moz-placeholder {
                            color: $TXT_LIGHTGRAY;
                        }
                    }

                    .country-list {
                        padding: 10px 16px;
                        font-family: $SOURCE_SANS_PRO_REGULAR;
                        // font-weight: 600;
                        font-size: $FONT_16;
                        color: $TXT_WINE;
                        cursor: pointer;
                        text-align: left;

                        span {
                            display: none;
                        }

                        &.active,
                        &:hover {
                            background-color: $BG_BLUE;
                            color: $TXT_WHITE;
                        }

                        span {
                            position: relative;
                            top: 1px;
                            margin-right: 5px;
                        }
                    }
                }

                .countryPhoneGroup {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .react-tel-input {
                        width: 32%;
                        margin-right: 8px;

                        .form-control {
                            padding: 0 8px 0 8px;
                            text-align: left;
                            height: 48px;
                            border-color: $INPUTBORDER;
                            color: $TXT_WINE;
                            font-family: $ROBOTO_MEDIUM;
                            font-size: $FONT_16;
                            -webkit-appearance: none;
                            -moz-appearance: none;

                            &::-webkit-input-placeholder {
                                color: $CHECKBOXBORDER;
                                font-family: $ROBOTO_MEDIUM;
                                font-size: $FONT_16;
                            }

                            &::-moz-placeholder {
                                color: $CHECKBOXBORDER;
                                font-family: $ROBOTO_MEDIUM;
                                font-size: $FONT_16;
                            }

                            &:-ms-input-placeholder {
                                color: $CHECKBOXBORDER;
                                font-family: $ROBOTO_MEDIUM;
                                font-size: $FONT_16;
                            }

                            &:-moz-placeholder {
                                color: $CHECKBOXBORDER;
                                font-family: $ROBOTO_MEDIUM;
                                font-size: $FONT_16;
                            }

                            &:focus {
                                box-shadow: none;
                            }

                            &.form-control:disabled,
                            .form-control[readonly] {
                                background-color: black;
                            }
                        }

                        .flag-dropdown {
                            top: 0px;
                            z-index: 999;
                            border: none;
                            background: transparent;

                            .selected-flag {
                                width: 80px;
                                top: 0px;
                                height: 48px;
                                background: transparent;
                                position: relative;
                                padding-left: 0px;

                                &:before {
                                    content: "+";
                                    position: absolute;
                                    top: 9px;
                                    left: 9px;
                                    display: none;
                                }

                                .flag {
                                    background: transparent;
                                    right: 20px;
                                    width: auto;
                                    height: auto;

                                    .arrow {
                                        left: 56px;
                                        margin-top: 0px;
                                        border: none;
                                        top: -3px;
                                        left: 0px;
                                        font-size: $FONT_12;
                                        color: $TXT_BLUE;

                                        &::before {
                                            content: '\e904';
                                            font-family: 'yatapay' !important;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                .selected-flag {
                                    background: transparent;
                                }
                            }

                            &:focus {
                                .selected-flag {
                                    background: transparent;
                                }
                            }
                        }

                        .country-list {
                            top: 40px;
                            max-height: 150px;
                            border-radius: 8px;
                            width: auto;

                            .country {
                                &:focus {
                                    outline: none;
                                }

                                &:hover {
                                    background: transparent;
                                }

                                &.highlight {
                                    background: white;
                                }
                            }

                            .flag {
                                display: none;
                            }

                            &::-webkit-scrollbar {
                                width: 4px;
                                display: none;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #E4E4E4;
                            }
                        }
                    }

                    input {
                        width: 100%;
                    }
                }

                .react-tel-input {
                    width: 20%;
                }
            }

            .btnRow {
                display: flex;
                width: 100%;
                float: left;
                align-items: center;
                margin: 16px 0 0;
                padding: 0 24px;

                .custombtn {
                    width: 100%;
                    padding: 12px 33px !important;
                    border-radius: 8px;
                    margin-right: 0px;
                    font-family: $ROBOTO_MEDIUM;
                }
            }
        }
    }
}

@media only screen and (max-width:575px) {
    .milestoneHistory {
        .boxContain {
            width: 100%;
            float: left;
            padding: 0 16px;
        }
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {

    .UBODeclarationModal {
        .boxContain {
            .form {
                .leftPart {

                    .calenderMain {
                        position: relative !important;

                        .react-datepicker-popper {
                            position: absolute !important;
                            top: 178px !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-height:545px) {
    .UBODeclarationModal {
        .boxContain {
            .form {
                .leftPart {
                    .calenderMain {
                        position: relative !important;

                        .react-datepicker-popper {
                            position: absolute !important;
                            top: 178px !important;
                        }
                    }
                }
            }
        }
    }
}