@import "../../../assets/scss/variables.scss";
.profileScroll {
  float: left;
  width: 100%;
  display: flex;
  margin-top: 60px;
  .profileMain {
    .boxContain {
      flex-direction: column;
      display: flex;
      align-items: center;
      padding: 80px 0 40px;

      .titleText {
        position: absolute;
        left: 0px;
        top: -78px;
        padding-top: 24px;
        font-size: $FONT_24;
      }
      .borderBox {
        padding: 32px 40px;
        border: 1px solid $INPUTBORDER;
        border-radius: 8px;
        position: relative;
        .topBox {
          background-color: $BG_WHITE;
          box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
            0px 0.5px 2px rgba(96, 97, 112, 0.16);
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          padding: 20px 40px;
          margin-bottom: 16px;
          .leftProfile {
            float: left;
            .fileUploadMain {
              .dropzoneCustom {
                padding: 0px;
                margin: 0px;
                .imgBoxEmpty {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  overflow: hidden;
                  img {
                    max-width: 100%;
                  }
                }
                .uploadtxt {
                  font-size: $FONT_14;
                  line-height: 150%;
                  text-align: center;
                  color: $TXT_BLUE_GREY;
                }
              }
            }
          }
          .rightPart {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: flex-end;
            .btnCustom {
              border: none;
              background: transparent;
              width: fit-content;
              outline: none;
              color: $TXT_WINE;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              padding: 0px;
              &.logout {
                color: $TXT_BLUE_GREY;
                font-family: $SOURCE_SANS_PRO_REGULAR;
              }
            }
          }
        }
        .secondRow {
          flex-direction: row;
          display: flex;
          margin-bottom: 16px;
          .column {
            background-color: $BG_WHITE;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            border-radius: 8px;
            padding: 40px 40px 48px;
            margin-right: 15px;
            width: 342px;
            position: relative;
            &:nth-child(2) {
              .columnTitle {
                padding: 0 0 8px;
              }
            }
            &:last-child {
              margin-right: 0px;
            }
            .columnTitle {
              font-size: $FONT_16;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              line-height: 24px;
              color: $TXT_BLUE;
              text-align: left;
              padding: 0 0 16px;
            }
            .detailsTxt {
              padding: 8px 0;
              font-size: $FONT_16;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              line-height: 24px;
              color: $TXT_DARKGREY;
              text-align: left;
              a {
                color: $TXT_DARKGREY;
                text-decoration: underline !important;
                // &:nth-child(2){
                //     text-decoration: none !important;
                // }
                .icon-info {
                  font-size: $FONT_18;
                  color: $TXT_YELLOW;
                  margin-left: 8px;
                  font-family: "yatapay" !important;
                  position: relative;
                  top: 0;
                }
              }
              &.linkBtn {
                display: flex;
                flex-direction: column;
                // align-items: center;
              }
            }
            .noUboDeclaration {
              font-size: $FONT_16;
              padding: 0px !important;
              line-height: 24px;
              color: $TXT_BLUE !important;
              padding: 0 0 16px;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
            }
            .DetailsRow {
              display: flex;
              flex-direction: column;
              text-align: left;
              padding: 16px 0;
              .title {
                font-size: $FONT_16;
                font-family: $SOURCE_SANS_PRO_REGULAR;
                line-height: 24px;
                color: $TXT_WINE;
                text-align: left;
              }
              .txt {
                font-size: $FONT_16;
                font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                line-height: 24px;
                color: $TXT_DARKGREY;
                text-align: left;
              }
            }
            .btnEdit {
              display: flex;
              position: absolute;
              right: 24px;
              bottom: 24px;
              a {
                font-size: $FONT_16;
                line-height: 24px;
                text-align: right;
                color: $TXT_BLUE_GREY;
              }
            }
          }
        }
        .thirdRow {
          flex-direction: row;
          display: flex;
          .column {
            background-color: $BG_WHITE;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            border-radius: 8px;
            padding: 16px 16px;
            margin-right: 15px;
            width: 342px;
            &:last-child {
              margin-right: 0px;
            }
            .detailsTxt {
              padding: 0px 0 8px;
              font-size: $FONT_16;
              font-family: $SOURCE_SANS_PRO_REGULAR;
              line-height: 24px;
              color: $TXT_DARKGREY;
              text-align: left;
              display: flex;
              align-items: center;
              .icon-info {
                font-size: $FONT_18;
                color: $TXT_YELLOW;
                margin-left: 8px;
              }
            }
            .bottomRow {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .leftIcon {
                display: flex;
                .icon-pdf {
                  font-size: 38px;
                  color: $TXT_BLUE_GREY;
                }
              }
              .addBtn {
                font-size: $FONT_12;
                line-height: 18px;
                text-align: center;
                color: $TXT_BLUE_GREY;
                border-radius: 5px;
                border: 1px solid $TXT_BLUE_GREY;
                padding: 2px 10px;
              }
            }
          }
        }
        .tooltipMain {
          // display: flex;
          .tooltipBtn {
            width: auto;
            padding: 0px;
            background-color: transparent !important;
            border: none !important;
            line-height: normal;
            box-shadow: none !important;
            .icon-info {
              font-size: $FONT_18;
              color: $TXT_YELLOW;
              margin-left: 8px;
              font-family: "yatapay" !important;
              position: relative;
              top: 0px;
            }
          }
        }
        .uboInfoColumns {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 92%;
            .secondRow {
              .column {
                width: 33.333%;
              }
            }
            .thirdRow {
              .column {
                width: 33.333%;
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 80%;
          .secondRow {
            .column {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 92%;
            .secondRow {
              .column {
                width: 33.333%;
              }
            }
            .thirdRow {
              .column {
                width: 33.333%;
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 80%;
          .secondRow {
            .column {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 96%;
            .secondRow {
              .column {
                width: 33.333%;
              }
            }
            .thirdRow {
              .column {
                width: 33.333%;
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 90%;
          .secondRow {
            .column {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 96%;
            padding: 16px 16px;
            .topBox {
              padding: 20px 20px;
            }
            .secondRow {
              .column {
                width: 33.333%;
                padding: 20px 20px 30px;
                .btnEdit {
                  right: 20px;
                  bottom: 10px;
                }
              }
            }
            .thirdRow {
              .column {
                width: 33.333%;
                padding: 20px 20px 30px;
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 90%;
          .secondRow {
            .column {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 90%;
            padding: 24px 24px;
            .topBox {
              padding: 20px 20px;
            }
            .secondRow {
              flex-direction: column;
              .column {
                width: 100%;
                padding: 20px 20px 30px;
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0px;
                }
                .btnEdit {
                  right: 20px;
                  bottom: 10px;
                }
              }
            }
            .thirdRow {
              flex-direction: column;
              .column {
                width: 100%;
                padding: 20px 20px 20px;
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 90%;
          .secondRow {
            flex-direction: column;
            .column {
              width: 100%;
              padding: 20px 20px 30px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .profileScroll {
    .profileMain {
      &.OrganisationProfile {
        .boxContain {
          flex-wrap: wrap;
          .borderBox {
            width: 90%;
            padding: 0px;
            border: none;
            .topBox {
              padding: 20px 20px;
            }
            .secondRow {
              flex-direction: column;
              .column {
                width: 100%;
                padding: 20px 20px 30px;
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0px;
                }
                .btnEdit {
                  right: 20px;
                  bottom: 10px;
                }
              }
            }
            .thirdRow {
              flex-direction: column;
              .column {
                width: 100%;
                padding: 20px 20px 20px;
                margin-bottom: 16px;
                &:last-child {
                  margin-bottom: 0px;
                }
              }
            }
          }
        }
      }
      .boxContain {
        flex-wrap: wrap;
        .borderBox {
          width: 90%;
          padding: 0px;
          border: none;
          .topBox {
            .leftProfile {
              .fileUploadMain {
                .dropzoneCustom {
                  .imgBoxEmpty {
                    width: 55px;
                    height: 55px;
                    img {
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
          .secondRow {
            flex-direction: column;
            .column {
              width: 100%;
              padding: 20px 20px 30px;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}
