@import "../../assets/scss/variables.scss";
.resetPage {
  position: relative;
  width: 100%;
  float: left;
  .resetCenter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .resetBox {
      max-width: 440px;
      width: 100%;
      background-color: $BG_WHITE;
      padding: 40px;
      margin-top: 40px;
      margin-bottom: 40px;
      display: block;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

      .icon-yatapay-brand {
        font-size: 66px;
        color: $BG_GREEN;
      }

      h1 {
        margin: 22px 0;
        font-size: $FONT_24;
        color: $TXT_BLUE;
        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
        text-align: left;
      }
      p {
        margin: 0 0 24px 0;
        font-size: $FONT_16;
        color: $TXT_WINE;
        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
        text-align: left;
      }
      .custombtnfield {
        margin-top: 32px;
      }
    }
  }
}

@media (max-width: 575px) {
  .resetPage {
    .resetCenter {
      height: 100%;
      .resetBox {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 94%;
        margin-left: 4%;
        margin-right: 4%;
        padding: 40px 20px;
        .clienttype {
          flex-direction: column;
          align-items: flex-start;
          .clienttypeleft {
            padding-bottom: 4px;
          }
          .clienttyperight {
            width: 100%;
            .RadioButton {
              &:first-child {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}
