@import "../../../../assets/scss/variables.scss";
.milestoneModification {
	float: left;
	width: 100%;
	.headerTitle{
		font-family: $SOURCE_SANS_PRO_SEMIBOLD;
		font-size: 20px;
		line-height: 150%;
		color: #0F4C81;
		padding: 0 24px 31px;
	}
	.popupScroll{
		height: 124px !important;
	}
	.boxContain{
		width: 100%;
		float: left;
		padding: 0 24px;
		.cardlist{
			width: 100%;
			float: left;
			padding: 16px 0 0 0;	
			.disTxt{
				width: 100%;
				float: left;
				font-size:$FONT_14;
				line-height: 150%;
				font-family: $SOURCE_SANS_PRO_REGULAR;
				color: $TXT_WINE;
			}
			.dateTxt{
				width: 100%;
				float: left;
				padding: 24px 0 0 0;
				font-size:$FONT_14;
				line-height: 150%;
				font-family: $SOURCE_SANS_PRO_REGULAR;
				color: $TXT_WINE;
				span{
					color: $TXT_BLUE;
				}
			}
		}
	}
}

@media only screen and (max-width:575px){
	.rejectionComments{
		.boxContain {
			width: 100%;
			float: left;
			padding: 0 16px;
			
		}
	} 
}