@import "../../../../assets/scss/variables.scss";
.modalPopup {
  &.staff_member {
    .modal-dialog {
      width: 423px;
      max-width: 100%;
      min-height: 100%;
      .modal-content {
        .modalInner {
          .modal-body {
            padding: 20px 40px;
            position: relative;
            display: table;
            .closeBtn {
              position: absolute;
              right: 0;
              top: 0;
            }
            .StaffMemberForm {
              .form {
                .titleText {
                  line-height: 24px;
                }
                .custombtnfield {
                  padding-top: 8px;
                  .custombtn {
                    width: 116px;
                    float: left;
                    padding: 11px 0 !important;
                    line-height: 24px;
                    border: 1px solid transparent !important;
                    font-size: $FONT_14 !important;
                    &:nth-child(2) {
                      margin-left: 8px;
                      background: transparent !important;
                      color: $TXT_WINE !important;
                      border-color: $BORDERCOLOR !important;
                      height: 48px;
                    }
                  }
                }
                .filterItem {
                  .messageAttched {
                    position: relative;
                    .textField {
                      textarea {
                        height: 108px;
                        resize: none;
                        padding: 11px 8px;
                        padding-right: 20px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
