@import "../../../assets/scss/variables.scss";
.dashboardScroll {
  .dashboardMain {
    max-width: 1602px;
    padding: 0 15px;
    margin: 0 auto;
    p {
      margin: 0;
    }
    .page_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 7px;
      .titleText {
        padding-bottom: 0px;
      }
      .ticketRaise {
        .custombtn {
            width: 202px;
            background: transparent !important;
            color: #0f4c81 !important;
            border: 1px solid #0f4c81 !important;
        }
    }
      // .custombtn {
      //   width: auto;
      //   padding: 11px 32px 11px 32px !important;
      //   font-family: $ROBOTO_MEDIUM;
      //   background: transparent !important;
      //   color: #0f4c81 !important;
      //   border-radius: 8px !important;
      //   border: 1px solid #0f4c81 !important;
      // }
    }
    .revenue_row {
      width: 100%;
      float: left;
      ul {
        width: 100%;
        float: left;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0 0 10px;
        list-style: none;
        li {
          width: 20%;
          float: left;
          padding: 0px 7px 14px;
          text-align: left;
          .revenue_box {
            padding: 16px 24px;
            background-color: $BG_WHITE;
            -webkit-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            -moz-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            -ms-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            -o-box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
              0px 0.5px 2px rgba(96, 97, 112, 0.16);
            border-radius: 8px;
            height: 100%;
            .title {
              font-size: $FONT_16;
              line-height: 24px;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              color: $TXT_DARKGREY;
            }
            .amount {
              font-size: $FONT_24;
              line-height: 36px;
              font-family: $SOURCE_SANS_PRO_SEMIBOLD;
              color: $TXT_BLUE;
            }
          }
        }
      }
    }
    .progressBarSection {
      display: flex;
      padding-bottom: 20px;
      padding-left: 3px;
      .customCard {
        width: 302px;
        float: left;
        height: auto;
        &.completedJobs {
          margin-left: 15px;
          .progressSection {
            .textColor {
              color: $TXT_GREEN;
              font-size: 14px;
            }
            .noColor {
              color: $TXT_GREEN;
              font-size: 24px;
            }
          }
        }
        &.disputeJobs {
          margin-left: 15px;
          .progressSection {
            .textColor {
              color: $TXT_RED;
              font-size: 14px;
              line-height: 21px;
              font-family: $SOURCE_SANS_PRO_REGULAR;
            }
            .noColor {
              color: $TXT_RED;
              font-size: 24px;
              line-height: 41px;
              font-family: $SOURCE_SANS_PRO_REGULAR;
            }
          }
        }
        .progressSection {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          padding: 16px;
          .titleText {
            width: 100%;
            float: left;
            font-size: $FONT_16;
            font-family: $SOURCE_SANS_PRO_REGULAR;
            padding-bottom: 16px;
            line-height: 24px;
          }
          .textColor {
            color: $TXT_BLUE;
            font-size: 14px;
            width: 85px;
          }
          .noColor {
            color: $TXT_BLUE;
            font-size: 24px;
          }
          .jobsNo {
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            width: 100%;
            p {
              font-family: $SOURCE_SANS_PRO_REGULAR;
              font-size: $FONT_16;
              color: $TXT_WINE;
              line-height: 24px;
            }
            .no {
              color: $TXT_BLUE;
              font-size: $FONT_24;
              line-height: 36px;
            }
          }
        }
      }
    }
    .jobSection {
      padding-right: 12px;
      padding-bottom: 24px;
      .innerSection {
        border: 1px solid $INPUTBORDER;
        border-radius: 8px;
        padding: 16px;
        position: relative;
        .listingTitle {
          font-size: $FONT_20;
          font-family: $SOURCE_SANS_PRO_REGULAR;
          line-height: 30px;
        }
        .tableSection {
          .header {
            .sortingIcon {
              display: flex;
              color: $BG_WHITE;
              padding: 14px 18px;
              position: relative;
              display: none;
              cursor: pointer;
              .FilterSorting {
                display: flex;
                .filterItem {
                  padding: 0;
                  .headingUl {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    .headingItem {
                      display: flex !important;
                      font-size: 14px !important;
                      color: $TXT_BLUE;
                      padding: 10px;
                      cursor: pointer;
                      width: 100% !important;
                    }
                  }
                }
              }
            }
          }
          .dataListing {
            padding-top: 8px;
            .NoText {
              padding-top: 8px;
            }
            .tableListing {
              padding-right: 0;
              padding-left: 0;
              background: $BG_WHITE;
              cursor: auto;
              &:hover {
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
              }
              &:last-child {
                margin-bottom: 53px;
              }
            }
          }
        }
      }
      &.supportTickets {
        .innerSection {
          .tableSection {
            .header {
              .headerItems {
                .headingListing {
                  .headingTable {
                    align-items: center;
                    .headingItem {
                      flex: 1;
                      width: auto;
                      &:nth-child(1) {
                        flex-grow: 0.5;
                      }
                      &:nth-child(2) {
                        flex-grow: 1.5;
                      }
                      &:nth-child(5) {
                        flex-grow: 1.2;
                      }
                    }
                  }
                }
              }
            }
            .dataListing {
              .NoText {
                padding-top: 8px;
              }
              .tableListing {
                .headingUl {
                  display: flex;
                  align-items: center;
                  padding: 14px 16px;
                  .headingItem {
                    flex: 1;
                    width: auto;
                    &:nth-child(1) {
                      flex-grow: 0.5;
                    }
                    &:nth-child(2) {
                      flex-grow: 1.5;
                      font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                    }
                    &:nth-child(5) {
                      flex-grow: 1.2;
                    }
                    &:last-child {
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.ongoingPayments {
        .innerSection {
          .tableSection {
            .header {
              .headerItems {
                .headingListing {
                  .headingTable {
                    align-items: center;
                    .headingItem {
                      flex: 1;
                      width: auto;
                      &:nth-child(1) {
                        flex-grow: 1.5;
                      }
                      &:nth-child(5) {
                        flex-grow: 0.6;
                      }
                    }
                  }
                }
              }
            }
            .dataListing {
              .NoText {
                padding-top: 8px;
              }
              .tableListing {
                .headingUl {
                  display: flex;
                  align-items: center;
                  padding: 14px 16px;
                  .headingItem {
                    flex: 1;
                    width: auto;
                    &:nth-child(1) {
                      flex-grow: 1.5;
                      font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                    }
                    &:nth-child(5) {
                      flex-grow: 0.6;
                    }
                    &:last-child {
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.dashboardMain .progressSection > div {
  width: 154px;
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .dashboardScroll {
    .dashboardMain {
      .revenue_row {
        ul {
          li {
            width: 25%;
            .revenue_box {
              padding: 16px 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .dashboardScroll {
    .dashboardMain {
      .revenue_row {
        ul {
          li {
            width: 25%;
            .revenue_box {
              padding: 16px 16px;
            }
          }
        }
      }
      .progressBarSection {
        justify-content: space-between;
        width: 100%;
        padding-left: 0px;
        .customCard {
          width: 33.333%;
          margin: 0 7px !important;
        }
      }
      .jobSection {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dashboardScroll {
    .dashboardMain {
      .revenue_row {
        ul {
          li {
            width: 33.333%;
            .revenue_box {
              padding: 16px 16px;
            }
          }
        }
      }
      .progressBarSection {
        justify-content: space-between;
        width: 100%;
        padding-left: 0px;
        .customCard {
          width: 33.333%;
          margin: 0 7px !important;
        }
        .progressSection > div {
          width: 136px;
        }
      }
      .jobSection {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .dashboardScroll {
    .dashboardMain {
      .revenue_row {
        ul {
          li {
            width: 33.333%;
            .revenue_box {
              padding: 16px 16px;
            }
          }
        }
      }
      .progressBarSection {
        justify-content: space-between;
        width: 100%;
        padding-left: 0px;
        .customCard {
          width: 33.333%;
          margin: 0 7px !important;
        }
      }
      .jobSection {
        padding-right: 7px;
        padding-left: 7px;
        &.supportTickets{
          .innerSection{
            .tableSection{
              .header{
                .headerItems{
                  .headingListing{
                    .headingTable{
                      &::before{
                        content: 'Support Tickets Details';
                        position: relative;
                        font-size: $FONT_14;
                        color: $TXT_WHITE;
                        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                      }
                      .headingItem{
                        display: none;
                      }
                    } 
                  } 
                } 
              }
              .dataListing{
                .tableListing{
                  .headingUl{
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .headingItem{
                      width: 50%;
                      display: block;
                      flex-grow: inherit !important;
                      flex: inherit;
                      &:first-child{
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Ticket Id";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(2){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Title";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(3){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Created on";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(4){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Assigned to";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(5){
                        .statusMain{
                          margin-top: 5px;
                        }
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Status";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                    }
                  } 
                } 
              } 
            }
          }
        }
        &.ongoingPayments{
          .innerSection{
            .tableSection{
              .header{
                .headerItems{
                  .headingListing{
                    .headingTable{
                      &::before{
                        content: 'Ongoing Job Details';
                        position: relative;
                        font-size: $FONT_14;
                        color: $TXT_WHITE;
                        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                      }
                      .headingItem{
                        display: none;
                      }
                    } 
                  } 
                } 
              }
              .dataListing{
                .tableListing{
                  .headingUl{
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .headingItem{
                      width: 50%;
                      display: block;
                      flex-grow: inherit !important;
                      flex: inherit;
                      &:first-child{
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Title";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(2){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Amount";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(3){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Created on";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(4){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Customer Name";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(5){
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Total/Completed Interim Payment";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(6){
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Completion Date";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                    }
                  } 
                } 
              } 
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 479px) {
 .dashboardScroll {
    .dashboardMain {
      .revenue_row {
        ul {
          li {
            width: 100%;
            .revenue_box {
              padding: 16px 16px;
            }
          }
        }
      }
      .progressBarSection {
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
        .customCard {
          width: 96%;
          margin: 0 2% 16px !important;
        }
      }
      .jobSection {
        padding-right: 7px;
        padding-left: 7px;
        &.supportTickets{
          .innerSection{
            .tableSection{
              .header{
                .headerItems{
                  .headingListing{
                    .headingTable{
                      &::before{
                        content: 'Support Tickets Details';
                        position: relative;
                        font-size: $FONT_14;
                        color: $TXT_WHITE;
                        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                      }
                      .headingItem{
                        display: none;
                      }
                    } 
                  } 
                } 
              }
              .dataListing{
                .tableListing{
                  .headingUl{
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .headingItem{
                      width: 100%;
                      display: block;
                      flex-grow: inherit !important;
                      flex: inherit;
                      &:first-child{
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Ticket Id";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(2){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Title";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(3){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Created on";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(4){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Assigned to";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(5){
                        .statusMain{
                          margin-top: 5px;
                        }
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Status";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                    }
                  } 
                } 
              } 
            }
          }
        }
        &.ongoingPayments{
          .innerSection{
            .tableSection{
              .header{
                .headerItems{
                  .headingListing{
                    .headingTable{
                      &::before{
                        content: 'Ongoing Job Details';
                        position: relative;
                        font-size: $FONT_14;
                        color: $TXT_WHITE;
                        font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                      }
                      .headingItem{
                        display: none;
                      }
                    } 
                  } 
                } 
              }
              .dataListing{
                .tableListing{
                  .headingUl{
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .headingItem{
                      width: 100%;
                      display: block;
                      flex-grow: inherit !important;
                      flex: inherit;
                      &:first-child{
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Title";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(2){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Payment Amount";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(3){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Created on";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(4){
                        margin-bottom: 16px;
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Customer Name";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(5){
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Total/Completed Interim Payment";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                      &:nth-child(6){
                        &::before{
                          width: 100%;
                          float: left;
                          content: "Completion Date";
                          font-size: $FONT_14;
                          color: $TXT_BLUE;
                          font-family: $SOURCE_SANS_PRO_SEMIBOLD;
                        }
                      }
                    }
                  } 
                } 
              } 
            }
          }
        }
      }
    }
  }
}